.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  label {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  textarea {
    max-width: 100%;
    height: 150px;
    padding: 10px 15px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    font-size: 20px;
    &:focus {
      outline: 1px solid #b0b0b0;
    }
  }
  button {
    display: block;
    width: 240px;
    margin-top: 20px;
    padding: 10px 20px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background: #3b4d61;
    color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.2509803922) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3019607843) 0px 8px 16px -8px;
    cursor: pointer;
    &:hover {
      background: #edc30a;
      color: black;
    }
    &:disabled {
      color: black;
      background: #e0e0e0;
    }
  }
}

.warning {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}
