* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

.wait-approve {
  padding: 50px 50px 30px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  box-shadow: #64646f33 0px 7px 29px 0px;
  border-radius: 20px;
  img {
    width: auto;
    max-height: 550px;
    margin: 0 auto;
  }
  span {
    width: min-content;
    padding: 5px 15px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-weight: 500;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 20px;
  }
  button {
    font-size: 18px;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #494949;
  }
}

.not-found {
  padding: 50px 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: #64646f33 0px 7px 29px 0px;
  border-radius: 20px;
  h2 {
    font-size: 100px;
  }
  h6 {
    font-size: 20px;
  }
}

.custom-confirm {
  box-shadow: #64646f33 0px 7px 29px 0px;
  padding: 50px;
  border-radius: 20px;
  background-color: white;
  h1 {
    font-size: 38px;
    font-weight: 600;
  }
  p {
    font-size: 22px;
    margin-top: 8px;
  }
  div {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  button {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #ffc400;
    }
  }
}

.container {
  max-width: 1600px;
  margin: 50px auto 0;
  padding: 0 10px 50px;
}

.title {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 400;
  color: #2b3541;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
}

.lessons {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.assignBtn {
  font-family: "Open Sans";
  font-size: 20px;
  margin-top: 30px;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
  background-color: #ffc400;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  &:hover {
    background-color: #e7b307;
  }
}
