.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}

.form {
  min-width: 580px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: fixed;
  padding: 80px 30px 50px;
  z-index: 3;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background: #ffffff;
  background: linear-gradient(174deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: #00000066 0px 2px 4px, #0000004d 0px 7px 13px -3px, #00000033 0px -3px 0px inset;
  label {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 23px;
    font-weight: 400;
    font-family: "Open Sans";
  }
}

.title {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3b4d61;
  border-radius: 20px 20px 0 0;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
}

.input {
  border: 1px solid #d8d8d8;
  padding: 5px 10px;
  height: 45px;
  border-radius: 3px;
  font-size: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &:focus {
    outline: none;
  }
}

.textarea {
  padding: 10px 10px;
  min-height: 200px;
  max-width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 20px;
  &:focus {
    outline: none;
  }
}

.button {
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  border: none;
  background-color: #e2be2a;
  border-radius: 5px;
  box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
  cursor: pointer;
  transition: 0.2s all;
  &:hover {
    background-color: #3b4d61;
    color: white;
  }
}
